@model IEnumerable<JooleUI.Models.Products>

@{
    ViewBag.Title = "Black";
   
}

<div class="container-fluid" style="padding:0px">
    <div style="background-color:white;">
        <div class="card-deck mb-3 text-center">
            @foreach (var product in Model)
            {
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@product.Product_Name</h4>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <img src="@product.Product_Image" class="rounded img-fluid  mx-auto d-block" style="width:15rem;height:15rem;">
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" colspan="2">MANUFACTURER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Manufacturer Name</th>
                                        <td>@product.Manufacturer_Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Manufacturer Dept</th>
                                        <td>@product.Manufacturer_Department</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Manufacturer Web</th>
                                        <td>@product.Manufacturer_Web</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" colspan="2">PRODUCT INFO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Product Name</th>
                                        <td>@product.Product_Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Serise</th>
                                        <td>@product.Series</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Model</th>
                                        <td>@product.Model</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Characteristic</th>
                                        <td>@product.Charecteristics</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" colspan="2">TYPE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Use Type</th>
                                        <td>@product.UseType</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Application</th>
                                        <td>@product.Application</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mounting Location</th>
                                        <td>@product.MountingLocation</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Accessories</th>
                                        <td>@product.Accessories</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Model Year</th>
                                        <td>@product.ModelYear</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
    </script>
}